@model FypOnEF.ViewModels.Pet.PetViewModel

@{
    Layout = "~/Views/Shared/_AllViewLayout.cshtml";
    ViewBag.Title = "picdetails";
}

@section product{
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                <a href="~/index">Home</a>
                <span>//</span>
            </li>
            <li>Pet Details</li>
        </ul>
    </div>
</div>
<!-- //short-->
<section class="banner-bottom py-lg-5 py-3">
    <div class="container">
        <div class="inner-sec-shop pt-lg-4 pt-3">
            <div class="row">
                <div class="col-lg-4 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider1">
                            <ul class="slides">
                                <li data-thumb="@Url.Content(Model.PetsImage_Path)">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.PetsImage_Path)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="@Url.Content(Model.PetsImage_Path)">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.PetsImage_Path)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                                <li data-thumb="@Url.Content(Model.PetsImage_Path)">
                                    <div class="thumb-image"> <img src="@Url.Content(Model.PetsImage_Path)" data-imagezoom="true" class="img-fluid" alt=" "> </div>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 single-right-left simpleCart_shelfItem">
                    <h3>@Model.PetsC3_Name</h3>
                    <p>
                        <span class="item_price">Rs.@Model.Cost</span>
                    </p>
                    <p>
                        <span class="item_price">Add By : @Model.US_Name</span>
                    </p>
                    <p>
                        <span class="item_price">Contact No : @Model.US_Phone</span>
                    </p>

                </div>

                <div class="clearfix"> </div>
                <!--/tabs-->
                <div class="responsive_tabs">
                    <div id="horizontalTab">
                        <ul class="resp-tabs-list">
                            <li>Description</li>
                            @*<li>Information</li>*@
                        </ul>
                        <div class="resp-tabs-container">
                            <!--/tab_one-->
                            <div class="tab1">
                                <div class="single_page">
                                    <h6>@Model.PetsC3_Name</h6>
                                    <p>
                                        @Model.Descrption
                                    </p>

                                </div>
                            </div>

                        </div>
                    </div>
                    <!--//tabs-->
                </div>
            </div>
        </div>
    </div>
</section>
}

